body {
  margin: 0;
  font-family: 'Courier New', 'Courier', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*background: linear-gradient(89deg, rgb(53, 202, 157) 0%, rgb(128, 18, 237) 100%);*/
  background: linear-gradient(89deg, rgb(255, 158, 31) 0%, rgb(255, 198, 31) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}